---
const platform = "github";
const username = "suntiparb72";
const userAnotherAccount = "itcom7200";
import Social from "./Social.astro";
---

<footer>
  <p>
    Learn more about my projects on
    <Social {platform} username={username} title="Github !"/>
  </p>
  
  <!-- if platform={platform}. can used platform it work -->
</footer>
